<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ejerciciosdh.pantallaprincipalactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ejerciciosdh.pantallaprincipal.PantallaPrincipalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ejerciciosdh.pantallaprincipal.Ejercicio1Activity" />
        <activity android:name="com.ejerciciosdh.pantallaprincipal.Ejercicio2Activity" />
        <activity android:name="com.ejerciciosdh.pantallaprincipal.Ejercicio3Activity" />
        <activity
            android:name="com.ejerciciosdh.pantallaprincipal.CalculadoraActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name="com.ejerciciosdh.pantallaprincipal.ActividadActivity" />
        <activity android:name="com.ejerciciosdh.pantallaprincipal.SenderActivity" />
        <activity android:name="com.ejerciciosdh.pantallaprincipal.Ejer2ActActivity" />
        <activity android:name="com.ejerciciosdh.pantallaprincipal.Ejer3ActActivity" />
        <activity android:name="com.ejerciciosdh.pantallaprincipal.EnClaseActivity"></activity>
    </application>

</manifest>